<app-navbar></app-navbar>
<div class="home-section">
    <img class="home-icon" src="icon.png">
    <div class="home-heading">
        <p class="icon-title">StudySpark</p>
        <p class="icon-subtitle">Live life with discipline</p>
    </div>
    <div class="home-buttons">
        <button class="sign-in-button">Sign in</button>
        <button class="register-button">Register</button>
    </div>
    <div class="home-line">

    </div>
    <div>
    <div class="about-home">
        <p class="about-home-heading">About StudySpark</p>
    </div>
    <div class="cards-home">
        <app-home-cards hero="Personalized Training"></app-home-cards>
        <app-home-cards hero="Goal Setting"></app-home-cards>
        <app-home-cards hero="Habit Tracking"></app-home-cards>
        <app-home-cards hero="Task Management"></app-home-cards>
        <app-home-cards hero="Routine Management"></app-home-cards>
        <app-home-cards hero="Collaborative Task"></app-home-cards>



    </div>
</div>
    
</div>