<app-navbar></app-navbar>
<div class="home-section">
    <img class="home-icon" src="icon.png">
    <div class="home-heading">
        <p class="icon-title">StudySpark</p>
        <p class="icon-subtitle">Live life with discipline</p>
    </div>
    <div class="home-buttons">
        <button class="sign-in-button"><a >Sign in</a></button>
        <button class="register-button">Register</button>
    </div>
    <div class="home-line">

    </div>
    <div>
    <div class="about-home">
        <p class="about-home-heading">About StudySpark</p>
    </div>
    <div class="cards-home">
        <app-home-cards cardTitle='“Personalized Training”' cardDescription="Personalized video training offers tailored content to help you achieve specific goals and foster self-development. It adapts to your learning style, ensuring effective growth."></app-home-cards>
        <app-home-cards cardTitle="“Goal Setting”" cardDescription="A goal-setting service helps users define, track, and manage their objectives through interactive tools and progress monitoring. It provides reminders, analytics, and motivation to ensure consistent growth."></app-home-cards>
        <app-home-cards cardTitle="“Habit Tracking”" cardDescription="A habit management service helps users build and track, positive habits progress tracking, and reminders. It offers insights and motivation to foster consistency and long-term behavioral change."></app-home-cards>
        <app-home-cards cardTitle="“Task Management”" cardDescription="A task management service streamlines organizing and tracking tasks and projects, helping users to meet deadlines. It features scheduling, and progress monitoring to enhance productivity."></app-home-cards>
        <app-home-cards cardTitle="“Routine Management”" cardDescription="A routine management service allowing users to create, track, and optimize their routines for better productivity and consistency. It helps to maintain a structured and efficient lifestyle."></app-home-cards>
        <app-home-cards cardTitle="“Collaborative Task”" cardDescription="A collaborative task service enables teams to assign, track, and manage tasks collectively, enhancing coordination and efficiency."></app-home-cards>
    </div>
</div>
    
</div>