<app-navbar></app-navbar>
<div class="home-section">
    <img class="home-icon" src="icon.png">
    <div class="home-heading">
        <p class="icon-title">StudySpark</p>
        <p class="icon-subtitle">Live life with discipline</p>
    </div>
    <div class="home-buttons">
        <button class="sign-in-button">Sign in</button>
        <button class="register-button">Register</button>
    </div>
    <div class="home-line">

    </div>
    <div>
    <div class="about-home">
        <p class="about-home-heading">About StudySpark</p>
    </div>
    <div class="cards-home">
        <app-home-cards >1</app-home-cards>
        <app-home-cards>2</app-home-cards>
        <app-home-cards>3</app-home-cards>
        <app-home-cards>4</app-home-cards>
        <app-home-cards>5</app-home-cards>
        <app-home-cards>6</app-home-cards>

    </div>
</div>
    
</div>